<div class="container">
    <h1>Todo Application</h1>
    <hr>
    <div class="row">
        <div class="col-8 col-sm-12">
            <form
            (ngSubmit)="onSubmit(taskForm)"
            #taskForm="ngForm"
            >
                <div class="form-group">
                  <label for="exampleInputEmail1">Enter todo task:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="task"
                    aria-describedby="What're we doing boss?"
                    placeholder="What're we doing boss?"
                    ngModel
                    name="task"
                    required
                    >
                  <small id="error-todo" class="form-text text-danger" *ngIf="taskForm.invalid && taskForm.touched">
                    Oops, looks like this is empty
                  </small>
                </div>
                <button
                  [disabled]="taskForm.invalid"
                  type="submit"
                  class="btn btn-primary"
                  id="todo-submit"
                >
                    Submit
                </button>
            </form>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task</th>
                  <th scope="col">Completed</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of taskArray; index as i">
                  <th scope="row">1</th>
                  <td>{{t.taskName}}</td>
                  <td><input (change)="onCheck(i)" type="checkbox" name="check" class="todo-check"></td>
                  <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
